/* Import your custom styles here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-color);
  /* Optional: Add a background image or gradient here */
  /* background-image: url('path/to/your/image.jpg'); */
  /* background: linear-gradient(to right, #777, #333); */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: var(--yellow-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Error Message Styling */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
